USE [master]
GO
/****** Object:  Database [Inventory_management_system]    Script Date: 27-08-2026 22:37:55 ******/
CREATE DATABASE [Inventory_management_system]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Inventory_management_system', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Inventory_management_system.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Inventory_management_system_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Inventory_management_system_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Inventory_management_system].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Inventory_management_system]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 27-08-2026 22:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customerNumber] [smallint] NOT NULL,
	[customerName] [nvarchar](50) NOT NULL,
	[contactLastName] [nvarchar](50) NOT NULL,
	[contactFirstName] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[addressLine1] [nvarchar](50) NOT NULL,
	[addressLine2] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[state] [nvarchar](50) NOT NULL,
	[postalCode] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[salesRepEmployeeNumber] [smallint] NULL,
	[creditLimit] [float] NOT NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[customerNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 27-08-2026 22:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employeeNumber] [smallint] NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[extension] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[officeCode] [tinyint] NOT NULL,
	[reportsTo] [smallint] NULL,
	[jobTitle] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_employees] PRIMARY KEY CLUSTERED 
(
	[employeeNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[offices]    Script Date: 27-08-2026 22:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[offices](
	[officeCode] [tinyint] NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[addressLine1] [nvarchar](50) NOT NULL,
	[addressLine2] [nvarchar](50) NOT NULL,
	[state] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[postalCode] [nvarchar](50) NOT NULL,
	[territory] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order details]    Script Date: 27-08-2026 22:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order details](
	[orderNumber] [smallint] NOT NULL,
	[productCode] [nvarchar](50) NOT NULL,
	[quantityOrdered] [tinyint] NOT NULL,
	[priceEach] [float] NOT NULL,
	[orderLineNumber] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 27-08-2026 22:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[orderNumber] [smallint] NOT NULL,
	[orderDate] [date] NOT NULL,
	[requiredDate] [date] NOT NULL,
	[shippedDate] [date] NULL,
	[status] [nvarchar](50) NOT NULL,
	[comments] [nvarchar](200) NULL,
	[customerNumber] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 27-08-2026 22:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[customerNumber] [smallint] NOT NULL,
	[checkNumber] [nvarchar](50) NOT NULL,
	[paymentDate] [date] NOT NULL,
	[amount] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productlines]    Script Date: 27-08-2026 22:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productlines](
	[productLine] [nvarchar](50) NOT NULL,
	[textDescription] [nvarchar](750) NOT NULL,
	[htmlDescription] [nvarchar](50) NOT NULL,
	[image] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 27-08-2026 22:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[productCode] [nvarchar](50) NOT NULL,
	[productName] [nvarchar](50) NOT NULL,
	[productLine] [nvarchar](50) NOT NULL,
	[productVendor] [nvarchar](50) NOT NULL,
	[productDescription] [nvarchar](500) NOT NULL,
	[quantityInStock] [smallint] NOT NULL,
	[buyPrice] [float] NOT NULL,
	[MSRP] [float] NOT NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[productCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Register_data]    Script Date: 27-08-2026 22:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Register_data](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[EmployeeID] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[customers] ([customerNumber], [customerName], [contactLastName], [contactFirstName], [phone], [addressLine1], [addressLine2], [city], [state], [postalCode], [country], [salesRepEmployeeNumber], [creditLimit]) VALUES (103, N'Atelier graphique', N'Schmitt', N'Carine ', N'40.32.2555', N'54, rue Royale', N'NULL', N'Nantes', N'NULL', N'44000', N'France', 1370, 21000)
INSERT [dbo].[customers] ([customerNumber], [customerName], [contactLastName], [contactFirstName], [phone], [addressLine1], [addressLine2], [city], [state], [postalCode], [country], [salesRepEmployeeNumber], [creditLimit]) VALUES (112, N'Signal Gift Stores', N'King', N'Jean', N'7025551838', N'8489 Strong St.', N'NULL', N'Las Vegas', N'NV', N'83030', N'USA', 1166, 71800)
INSERT [dbo].[customers] ([customerNumber], [customerName], [contactLastName], [contactFirstName], [phone], [addressLine1], [addressLine2], [city], [state], [postalCode], [country], [salesRepEmployeeNumber], [creditLimit]) VALUES (114, N'Australian Collectors, Co.', N'Ferguson', N'Peter', N'03 9520 4555', N'636 St Kilda Road', N'Level 3', N'Melbourne', N'Victoria', N'3004', N'Australia', 1611, 117300)
GO
INSERT [dbo].[employees] ([employeeNumber], [lastName], [firstName], [extension], [email], [officeCode], [reportsTo], [jobTitle]) VALUES (1002, N'Murphy', N'Diane', N'x5800', N'dmurphy@classicmodelcars.com', 1, NULL, N'President')
INSERT [dbo].[employees] ([employeeNumber], [lastName], [firstName], [extension], [email], [officeCode], [reportsTo], [jobTitle]) VALUES (1056, N'Patterson', N'Mary', N'x4611', N'mpatterso@classicmodelcars.com', 1, 1002, N'VP Sales')
INSERT [dbo].[employees] ([employeeNumber], [lastName], [firstName], [extension], [email], [officeCode], [reportsTo], [jobTitle]) VALUES (1076, N'Firrelli', N'Jeff', N'x9273', N'jfirrelli@classicmodelcars.com', 1, 1002, N'VP Marketing')
GO
INSERT [dbo].[offices] ([officeCode], [city], [phone], [addressLine1], [addressLine2], [state], [country], [postalCode], [territory]) VALUES (1, N'San Francisco', N'+1 650 219 4782', N'100 Market Street', N'Suite 300', N'CA', N'USA', N'94080', N'NA')
INSERT [dbo].[offices] ([officeCode], [city], [phone], [addressLine1], [addressLine2], [state], [country], [postalCode], [territory]) VALUES (2, N'Boston', N'+1 215 837 0825', N'1550 Court Place', N'Suite 102', N'MA', N'USA', N'02107', N'NA')
INSERT [dbo].[offices] ([officeCode], [city], [phone], [addressLine1], [addressLine2], [state], [country], [postalCode], [territory]) VALUES (3, N'NYC', N'+1 212 555 3000', N'523 East 53rd Street', N'apt. 5A', N'NY', N'USA', N'10022', N'NA')
GO
INSERT [dbo].[order details] ([orderNumber], [productCode], [quantityOrdered], [priceEach], [orderLineNumber]) VALUES (10100, N'S18_1749', 30, 136, 3)
INSERT [dbo].[order details] ([orderNumber], [productCode], [quantityOrdered], [priceEach], [orderLineNumber]) VALUES (10100, N'S18_2248', 50, 55.090000152587891, 2)
INSERT [dbo].[order details] ([orderNumber], [productCode], [quantityOrdered], [priceEach], [orderLineNumber]) VALUES (10100, N'S18_4409', 22, 75.459999084472656, 4)
GO
INSERT [dbo].[orders] ([orderNumber], [orderDate], [requiredDate], [shippedDate], [status], [comments], [customerNumber]) VALUES (10100, CAST(N'2003-01-06' AS Date), CAST(N'2003-01-13' AS Date), CAST(N'2003-01-10' AS Date), N'Shipped', N'NULL', 363)
INSERT [dbo].[orders] ([orderNumber], [orderDate], [requiredDate], [shippedDate], [status], [comments], [customerNumber]) VALUES (10101, CAST(N'2003-01-09' AS Date), CAST(N'2003-01-18' AS Date), CAST(N'2003-01-11' AS Date), N'Shipped', N'Check on availability.', 128)
INSERT [dbo].[orders] ([orderNumber], [orderDate], [requiredDate], [shippedDate], [status], [comments], [customerNumber]) VALUES (10102, CAST(N'2003-01-10' AS Date), CAST(N'2003-01-18' AS Date), CAST(N'2003-01-14' AS Date), N'Shipped', N'NULL', 181)
GO
INSERT [dbo].[payments] ([customerNumber], [checkNumber], [paymentDate], [amount]) VALUES (103, N'HQ336336', CAST(N'2004-10-19' AS Date), 6066.77978515625)
INSERT [dbo].[payments] ([customerNumber], [checkNumber], [paymentDate], [amount]) VALUES (103, N'JM555205', CAST(N'2003-06-05' AS Date), 14571.4404296875)
INSERT [dbo].[payments] ([customerNumber], [checkNumber], [paymentDate], [amount]) VALUES (103, N'OM314933', CAST(N'2004-12-18' AS Date), 1676.1400146484375)
GO
INSERT [dbo].[productlines] ([productLine], [textDescription], [htmlDescription], [image]) VALUES (N'Planes', N'Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office or classroom decorations. Models contain stunning details such as official logos and insignias, rotating jet engines and propellers, retractable wheels, and so on. Most come fully assembled and with a certificate of authenticity from their manufacturers.', N'NULL', N'NULL')
GO
INSERT [dbo].[products] ([productCode], [productName], [productLine], [productVendor], [productDescription], [quantityInStock], [buyPrice], [MSRP]) VALUES (N'p1', N'fruit&nut chocolate', N'chocolate', N'shibam', N'No description provided', 24, 40, 55)
INSERT [dbo].[products] ([productCode], [productName], [productLine], [productVendor], [productDescription], [quantityInStock], [buyPrice], [MSRP]) VALUES (N'p11', N'cake', N'dry food', N'paulo', N'No description provided', 10, 7, 10)
INSERT [dbo].[products] ([productCode], [productName], [productLine], [productVendor], [productDescription], [quantityInStock], [buyPrice], [MSRP]) VALUES (N'p20', N'chocolate', N'dairy', N'paulo', N'No description provided', 10, 45, 80)
GO
SET IDENTITY_INSERT [dbo].[Register_data] ON 

INSERT [dbo].[Register_data] ([UserID], [FullName], [Email], [Password], [EmployeeID]) VALUES (1, N'Rupam mete', N'meter380@gmail.com', N'1234', N'emp012004')
INSERT [dbo].[Register_data] ([UserID], [FullName], [Email], [Password], [EmployeeID]) VALUES (2, N'samapti ', N'jr04akash@gmail.com', N'987', N'emp012004')
INSERT [dbo].[Register_data] ([UserID], [FullName], [Email], [Password], [EmployeeID]) VALUES (3, N'Rupam mete', N'gg3807920@gmail.com', N'12345', N'emp012004')
SET IDENTITY_INSERT [dbo].[Register_data] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Register__A9D10534E9F57A1D]    Script Date: 27-08-2026 22:37:56 ******/
ALTER TABLE [dbo].[Register_data] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
